:root {
  --color-primary: rgb(82, 10, 10);
  --color-secondary: rgb(214, 187, 31);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, sans-serif;
  font-size: 1.6rem;
}

.header {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
}

.game-rules {
  max-width: 600px;
  margin: 3rem auto 0;
}

.game-rules h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.game-rules-list {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.game-rules-list li {
  margin-bottom: 0.2rem;
}

.game-rules-list ol {
  margin-left: 2rem;
}

.game-rules p {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  color: var(--color-primary);
}

.btn {
  display: block;
  margin: 2rem auto;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.select {
  display: block;
  margin: 1rem auto 0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 10px;
  text-align: start;
  min-width: 250px;
  max-width: 90%;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.select option:checked {
  text-align: center;
  font-weight: bold;
}

.select option {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.written-guesses {
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.written-guesses h2 {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 1.6rem;
  color: var(--color-primary);
}

.letter-buttons-y-n {
  display: flex;
  justify-content: center;
}

.letter-buttons-y-n button {
  padding: 12px 16px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: bold;
  transition: all 300ms ease;
  min-width: 12rem;
}

.letter-buttons-y-n button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 15px;
  color: rgb(214, 187, 31);
}

.letter-buttons-y-n button:first-child {
  margin-right: 1rem;
}

.write-letter {
  font-size: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.used-letters {
  text-align: center;
  width: 100%;
  margin-bottom: 1.2rem;
}

.used-letters span {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 1.6rem;
  }

  .game-rules {
    margin-top: 1.5rem;
    max-width: 90%;
  }

  .game-rules-list {
    font-size: 0.8rem;
  }

  .disclaimer {
    margin-bottom: 0.6rem !important;
  }

  .disclaimer em {
    font-size: 1rem;
  }
  .letter-buttons-y-n button {
    min-width: 6rem;
  }

  .select {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
}
